.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px;
}

.cards_section {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards_section h1 {
  margin-bottom: 50px;
}

.section_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.section_container .profile_image {
  position: absolute;
  z-index: 1000;
  right: 15px;
  top: 15px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.presentation_card {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(var(--card-item-color));
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  position: relative;
}

.presentation_card .profile_image {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.presentation_card h1 {
  text-align: center;
}

.presentation_card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}
.presentation_card ol {
  list-style: none;
}

.presentation_card p,
.presentation_card a,
.presentation_card li {
  font-size: 18px;
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (0px <= width <= 430px) {
  .section {
    padding: 10px 10px;
  }
  .section_container .profile_image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  .presentation_card {
    flex-basis: 100%;
    height: 200px;
  }

  .section h1 {
    font-size: 16px;
  }

  .section h2 {
    font-size: 14px;
  }

  .presentation_card h2 {
    font-size: 12px;
  }

  .presentation_card p,
  .presentation_card a,
  .presentation_card li {
    font-size: 10px;
  }
}
.item_contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.item_contact img{
  margin-right: 10px;
}
@media (431px <= width <= 768px) {
  .section_container .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  .section h1 {
    font-size: 22px;
  }

  .section h2 {
    font-size: 20px;
  }

  .presentation_card .profile_image {
    width: 100px;
    height: 100px;
  }

  .presentation_card h2 {
    font-size: 20px;
  }

  .presentation_card p,
  .presentation_card a,
  .presentation_card li {
    font-size: 18px;
  }
}
